// app global css in SCSS form
@import "quasar.variables";
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@400;500;600;700&display=swap');

body{
  font-family: Jura, sans-serif;
}

.bg-soft{
  background-color: #F2F2F2;
}

.py-sm{
  padding: 2px 0;
}

.bg-mor{
  background-color: $mor;
}

.bg-darkness{
  background-color: $dark-page;
}

.q-drawer-bordered {
  border-right: 1px solid $border-color!important;
}

.border-babylon-bottom{
  border-bottom: 0;
  padding: 5px 0;
}

.border-babylon-top{
  border-top: 1px solid $border-color!important;
}

.fw-bold{
  font-weight: 700;
}

.font-size-20{
  font-size: 20px;
}

.font-size-18{
  font-size: 18px;
}

.font-size-16{
  font-size: 16px;
}

.font-size-12{
  font-size: 12px;
}

.font-size-10{
  font-size: 10px;
}

.font-size-8{
  font-size: 8px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none; /* Desactiva las flechitas */
  appearance: none;
  margin: 0; /* Elimina posibles márgenes */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
  -webkit-appearance: none;  /* Chrome, Safari, Edge */
  appearance: none;
  color: $accent;
}

.q-tab-panels{
  border-radius: 0!important;
}

.gradient-border{
  background: linear-gradient(#251943, #251943) padding-box, linear-gradient(90.29deg, #8047D0 0.12%, #BA1AF7 48.91%, #9BFF6E 97.7%) border-box;
  border: 2px solid transparent;
}

